.gpt__ethics {
	display: flex;
	flex-direction: row;
}

.gpt__ethics-image {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	margin-right: 2rem;

	border-radius: 1rem;
	overflow: hidden;
}

.gpt__ethics-image img {
	width: 100%;
	height: 100%;
}

.gpt__ethics-content {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

.gpt__ethics-content h4 {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 20px;
	line-height: 38px;
	color: #71e5ff;
}

.gpt__ethics-content h4:last-child {
	color: #ff8a71;
}

.gpt__ethics-content h1 {
	font-family: var(--font-family);
	font-weight: 800;
	font-size: 62px;
	line-height: 75px;
	letter-spacing: -0.04em;
	margin: 1rem 0;
}

.gpt__ethics-content p {
	color: var(--color-text);
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	line-height: 36px;

	margin-bottom: 2rem;
}

@media screen and (max-width: 950px) {
	.gpt__ethics {
		flex-direction: column;
	}

	.gpt__ethics-image {
		margin: 1rem 0;
	}
	.gpt__ethics-content h1 {
		font-size: 34px;
		line-height: 45px;
	}
	.gpt__ethics-content h4 {
		font-size: 18px;
		line-height: 30px;
	}
	.gpt__ethics-content {
		margin-top: 2rem;
	}
	.gpt__ethics-content p {
		color: var(--color-text);
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;

		margin-bottom: 2rem;
	}
}
